<nav class="bg-gray-800 px-14 py-3 sm:flex sm:items-center sm:justify-between border-b-2 border-white">
    <a href="{{ route('home.index') }}" class="flex items-center mb-4 sm:mb-0">
        <img src="{{ asset('img/mky.png') }}" class="mr-4 h-6" alt=""/>
    </a>
    <ul class="flex flex-wrap items-center mb-6 sm:mb-0">
        <li>
            <a href="#" class="mr-4 text-sm text-gray-400 hover:text-gray-300 md:mr-6">Login</a>
        </li>
        <li>
            <a href="#" class="mr-4 text-sm text-gray-400 hover:text-gray-300 md:mr-6">Register</a>
        </li>
    </ul>
</nav>