<nav role="navigation">
    <ul class="nav">
        <li id="home"><a href="?p=home">Introduction</a></li>
        <li id="install"><a href="?p=install">How to Install</a></li>
        <li id="routing"><a href="?p=routing">Routing</a>
            <ul class="nav">
                <li><a to="#routing_controller">Controller</a></li>
                <li><a to="#routing_file">File</a></li>
            </ul>
        </li>
        <li id="providers"><a href="?p=providers">Providers</a></li>
        <li id="application"><a href="?p=application">Application</a>
            <ul class="nav">
                <li><a to="#application_entities">Entity</a></li>
                <li><a to="#application_manager">Manager</a></li>
                <li><a to="#application_middleware">Middleware</a></li>
                <li><a to="#application_permission">Allows permission</a></li>
                <li><a to="#application_event">Event</a></li>
                <li><a to="#application_listener">Listener</a></li>
            </ul>
        </li>

        <li id="command"><a href="?p=command">MkyCommand CLI</a>
            <ul class="nav">
                <li><a to="#command_list">List of commands</a></li>
            </ul>
        </li>
        <li id="modules"><a href="?p=modules">Modules</a>
            <ul class="nav">
                <li><a to="#modules_1">folders organization</a></li>
                <li><a to="#modules_2">Configuration</a></li>
                <li><a to="#modules_3">HMVC Application</a></li>
            </ul>
        </li>
    </ul>
</nav>

<script>
    let current_page = getCurrentPage()
    const lis = $('li[id]')
    $.each(lis, () => {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active')
        }
    })
    $('li#' + current_page).addClass('active')

    $('a[to]').click(function () {
        $('html, body').animate({
            scrollTop: $($(this).attr('to')).offset().top - 20
        }, 'smooth');
    });

    $(document).scroll(function () {
        $("a[to]").each(function () {

            let container = $(this).attr('to');
            const parent = $(container).parent()
            if (parent.offset()) {
                let containerOffset = parent.offset().top;
                let containerHeight = parent.outerHeight();
                let containerBottom = containerOffset + containerHeight;
                let scrollPosition = $(document).scrollTop();

                if (scrollPosition < containerBottom - 20 && scrollPosition >= containerOffset - 20) {
                    $(this).parent().addClass('active');
                } else {
                    $(this).parent().removeClass('active');
                }
            }
        });
    });
</script>