<section class="welcome">
    <div class="row">
        <div class="col-md-12 left-align">
            <h2 class="dark-text">Introduction
                <hr>
            </h2>
            <div class="row">

                <div class="col-md-12 full">
                    <div class="intro1">
                        <ul>
                            <li><strong>Name : </strong>MkyFramework</li>
                            <li><strong>Current version : </strong> <span id="current_version"></span></li>
                            <li><strong>Author : </strong>
                                <a href="https://github.com/Micky-N" target="_blank">Mickaël Ndinga</a>
                            </li>
                            <li>
                                <strong>License : </strong>
                                <a href="https://github.com/Micky-N/mky/blob/master/LICENSE" target="_blank">MIT License</a>
                            </li>
                        </ul>
                    </div>

                    <hr>
                    <div>
                        <p>Framework PHP, modular in MVC or HMVC architecture.
                        </p>
                        <h3>Requirements</h3>
                        <p>You will need the following application to use this framework.</p>
                        <div class="requirements">
                            <ol>
                                <li>PHP version >= 8.1</li>
                                <li>Composer</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Getting Started</h3>
                    <p>
                        This framework is organized with some files that are useful for the application.
                    </p>
                    <div>
                        <li>app</li>
                        <div style="margin-left: 25px; list-style-type: circle;">
                            <li>Events : contains events to dispatch</li>
                            <li>Listeners : contains event listeners</li>
                            <li>Http</li>
                            <li>Controllers : contains controllers</li>
                            <li>Middlewares : contains middlewares</li>
                            <li>Entities : contains SQL models</li>
                            <li>Managers : contains SQL models</li>
                            <li>Providers : contains EventServiceProvider.php, AppServiceProvider.php and AuthServiceProvider
                            </li>
                        </div>
                    </div>
                    <p>In HMVC mode, module folders are located in the app/module_name folder</p>
                    <li>config : contains config files</li>
                    <li>public : contains the input file index.php and the assert folder for js, css and images</li>
                    <li>start : contains routes.php files</li>
                    <li>views : contains .twig views</li>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    fetch('https://repo.packagist.org/p2/micky/mky.json').then(async response => {
        let body = await response.json()
        const res = Object.values(body.packages);
        if(!res.length){

        }
        const packages = res[0]
        if(!packages.length){

        }
        const current_tag = packages[0]
        $('span#current_version').html(current_tag.version)
    });
</script>