<section class="section">
    <div class="row">
        <div class="col-md-12 left-align">
            <h2 class="dark-text">How to Install
                <hr>
            </h2>
        </div>
    </div>

    <h3>Composer</h3>

    <p>To install MkyFramework with composer use the command</p>
    <pre class="brush: html">
      composer create-project micky/mky appname --prefer-dist
    </pre>

    <p>This command will install the new app in your app name folder. After that you have to config your app in the config folder</p>
    <h3>Configuration</h3>


    <table class="table table-responsive">
        <thead>
        <tr>
            <th>File</th>
            <th>config point</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>app</td>
            <td>app_name</td>
            <td>Application name</td>
        </tr>
        <tr>
            <td></td>
            <td>timezone</td>
            <td>Default timezone value for datetime instance</td>
        </tr>
        <tr>
            <td></td>
            <td>locale</td>
            <td>Default location value (useful for translation)</td>
        </tr>
        <tr>
            <td></td>
            <td>route_mode</td>
            <td>Default route mode for all application, (controller, file, both)</td>
        </tr>
        <tr>
            <td></td>
            <td>security.csrf</td>
            <td>Enable csrf security</td>
        </tr>
        <tr>
            <td></td>
            <td>debugMode</td>
            <td>Enable debug mode</td>
        </tr>
        <tr>
            <td>database</td>
            <td>connections.mysql</td>
            <td>MYSQL connexion data</td>
        </tr>
        <tr>
            <td>auth</td>
            <td>providers</td>
            <td>Set credentials and manager class for login</td>
        </tr>
        <tr>
            <td></td>
            <td>remember</td>
            <td>Set provider remember token lifetime</td>
        </tr>
        <tr>
            <td></td>
            <td>password_reset</td>
            <td>Set provider password_reset token lifetime</td>
        </tr>
        <tr>
            <td>cache</td>
            <td>spaces</td>
            <td>Set file driver and path for cache</td>
        </tr>
        <tr>
            <td></td>
            <td>layouts</td>
            <td>Root folder for .mky layouts</td>
        </tr>
        <tr>
            <td></td>
            <td>includes</td>
            <td>Root folder for .mky included views</td>
        </tr>
        </tbody>
    </table>
    <h5>You can create your database migrations and fill it with data after it’s created with <a
            href="https://book.cakephp.org/phinx" target="_blank" style="font-size:medium">Phinx Migration</a></h4>
</section>