<section id="line5" class="section">

    <div class="row">
        <div class="col-md-12 left-align">
            <h2 class="dark-text">ORM
                <hr>
            </h2>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="orm_manager">Manager</h3>

        <div class="col-md-12">
            <p>The Manager class is the heart of this ORM system, it interacts with the database to fetch, create,
                update or delete a row to the database table</p>
            <p>To create a new manager with command-line: <span class="code">php mky create:manager &lt;name&gt;</span>
            </p>
            <pre class="brush: php">
                /**
                 * @Table('users')
                 * @Entity('App\Entities\User')
                 */
                class UserManager extends Manager
                {

                }
            </pre>
            <p>the name of database table must be set in the class annotation, the name of entity whose works this
                manager must be set in the class annotation, but if the entity class name is the prefix of manager
                class name and the entity is in the same module so this entity name declaration is optional because
                this manager will automatically retrieve.</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Method</th>
                    <th>Params</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>getPrimaryKey: <span class="return">string</span></td>
                    <td></td>
                    <td>Get the database's table primary key</td>
                </tr>
                <tr>
                    <td>getTable: <span class="return">string</span></td>
                    <td></td>
                    <td>Get the database's table name</td>
                </tr>
                <tr>
                    <td>getEntity: <span class="return">string|Entity|null</span></td>
                    <td>data: <span class="type">array</span> = []</td>
                    <td>Get the entity name link to this manager, if data is set this method will return an instance
                        of this entity.
                    </td>
                </tr>
                <tr>
                    <td>count: <span class="return">int</span></td>
                    <td></td>
                    <td>Get the number of rows in the database table</td>
                </tr>
                <tr>
                    <td>create: <span class="return">Entity|false</span></td>
                    <td>data: <span class="type">array</span></td>
                    <td>Add a new row to database table from array data</td>
                </tr>
                <tr>
                    <td>save: <span class="return">Entity|false</span></td>
                    <td>entity: <span class="type">Entity</span></td>
                    <td>Add or update a row (if primary key has value so is an updating) in the database table</td>
                </tr>
                <tr>
                    <td>find: <span class="return">Entity</span></td>
                    <td>id: <span class="type">string|int</span></td>
                    <td>Get a record from primary key value</td>
                </tr>
                <tr>
                    <td>delete: <span class="return">Entity|null</span></td>
                    <td>entity: <span class="type">Entity</span></td>
                    <td>Delete a row in the database table, return the deleted entity</td>
                </tr>
                <tr>
                    <td>all: <span class="return">array</span></td>
                    <td></td>
                    <td>Get all database table rows</td>
                </tr>
                <tr>
                    <td>shuffleId: <span class="return">string|int</span></td>
                    <td></td>
                    <td>Get a random primary key value</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="orm_entity">Entity</h3>

        <div class="col-md-12">
            <p>The Entity class is a class whose will be a representation of a row in database.</p>
            <p>To create a new entity with command-line: <span class="code">php mky create:entity &lt;name&gt;</span>
            </p>
            <p>First of all, you have to implement all table columns as private properties (whose property name must be
                in camelCase if in database is a snake_case), getters (whose getter name is the property name in
                camelCase) and setters (whose setter name is "set"+ property name is PascalCase). All columns whose can
                be automatically set like created_at or primary key auto increment must be a null property by
                default.</p>
            <pre class="brush: php">
                /**
                 * @Manager('App\Managers\UserManager')
                 */
                class User extends Entity
                {
                    private ?int $id = null;
                    private string $email;
                    private ?string $createdAt = null;
                    private bool isAdmin = false;

                    public function id(): ?int
                    {
                        return $this->id;
                    }

                    public function setId(int $id): void
                    {
                        $this->id = $id;
                    }

                    public function email(): string
                    {
                        return $this->email;
                    }

                    public function setEmail(string $email): void
                    {
                        $this->email = $email;
                    }

                    public function createdAt(): ?string
                    {
                        return $this->email;
                    }

                    public function setCreatedAt(string $created_at): void
                    {
                        $this->createdAt = $created_at;
                    }

                    public function isAdmin(): bool
                    {
                        return $this->isAdmin;
                    }

                    public function setIsAdmin(bool $isAdmin): void
                    {
                        $this->isAdmin = $isAdmin;
                    }
                }
            </pre>
            <p>If the entity manager class name is the entity class name + "Manager" and it's in the same
                module with manager class so Manager annotation is optional</p>
            <h5>Instantiation</h5>
            <div class="col-md-12">
                <p>To instantiate entity there are 2 ways:</p>
                <pre class="brush:php">
                    $user = new User(['email' => 'example@gmail.com']);

                    // OR
                    $user = new User();
                    $user->hydrate(['email' => 'example@gmail.com']);
                </pre>
            </div>
            <h5>Cast</h5>
            <div class="col-md-12">
                <p>Maybe you want to cast column to an object or other type, for that, use <span class="code">/** @Cast(type) */</span>
                </p>
                <pre class="brush:php">
                    class User extends Entity
                    {
                        //

                        /** @Cast('boolean') */
                        private bool isAdmin = false;

                        //
                    }
                </pre>
                <p>Without this the property will return a tinyInt 0 or 1, thanks to casting it will return true for 1
                    or false for 0.</p>
                <p>Built-in types you can use are: 'string', 'int', 'integer', 'float', 'boolean', 'bool'. If column
                    value is json you can use @Cast('array') to turn it to associative array or @Cast('object') stdClass
                    instance and if value is serialized use @Cast('serialize') to unserialize value</p>
                <p>You can implement your own cast method by set @Cast('toDateTime')</p>
                <pre class="brush:php">
                    class User extends Entity
                    {
                        //
                        /** @Cast('toDateTime') */
                        private ?string $createdAt = null;

                        public function toDateTime(string $value): DateTime
                        {
                            // $value format is Y-m-d H:i:s in my example
                            return new DateTime($value); 
                        }

                        //
                    }
                </pre>
            </div>
            <h5>Hidden properties</h5>
            <div class="col-md-12">
                <p>Used for api and sending entity object to the client side for js script for example, you may want to
                    hide some sensible properties like password, to do that you can set <span
                            class="code">@Hidden()</span> in the annotation of property</p>
            </div>
            <h5>Other Methods</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>delete: <span class="return">Entity</span></td>
                        <td></td>
                        <td>Delete the entity row in the database table, return the deleted entity</td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity|false</span></td>
                        <td></td>
                        <td>Update a row in the database table</td>
                    </tr>
                    <tr>
                        <td>getManager: <span class="return">Manager|null</span></td>
                        <td></td>
                        <td>Get the manager instance link to this entity</td>
                    </tr>
                    <tr>
                        <td>getPrimaryKey: <span class="return">string|null</span></td>
                        <td></td>
                        <td>Get the entity primary key</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h3 id="orm_query_builder">QueryBuilder</h3>

        <div class="col-md-12">
            <p>Model classes use the PDO class to perform queries in the MYSQL database, it also uses a QueryMysql
                trait which serves as a Query Builder to simplify the writing of SQL queries.
                They must enter:
            <li>Table name: <b>protected string $table</b></li>
            <p>If the name of the table is the plural of the name of the class model then defining the name of the
                table is optional, example : model Todo => table todos, otherwise you must enter the name of the
                table.</p>

            <li>Primary key: <b>protected string $primaryKey (if primary key != 'id')</b></li>
            <li style="margin-top: 25px;"> Optional record creation time and update time fields <b>protected array
                $dateTimes</b>. Enterable fields <b>protected array $settable</b> to handle fields
            </li>
            </p>
            <h4 id="line5_1_1">List of model methods</h4>

            Example :
            <pre class="brush: php">
                                    // Class declaration
                                    Todo extends MkyCore\Model;
                                    protected string $table= 'todolist';
                                    protected string $primairKey = 'id';
                                    protected array $dateTimes = ['CREATED_AT' => 'created_todo_at', 'UPDATED_AT' => 'updated_todo_at'];
                                    protected array $settable = ['task', 'completed', 'created_todo_at', 'updated_todo_at'];
                                    // Class instantiation
                                    $todo = new Todo();
                                </pre>

            <pre class="brush:php">
                                    @method function getTable();
                                </pre>
            <p>Returns the name of the database table</p>

            <pre class="brush:php">
                                    @method function getPrimaryKey();
                                </pre>

            Returns the name of the primary key

            <pre class="brush:php">
                                    @method static function getCurrentModel();
                                </pre>

            Returns the currently instantiated model

            <pre class="brush:php">
                                    @method static function find($id);
                                </pre>

            Returns the record using the value of its primary key

            <pre class="brush: php">
                                    @method static function all();
                                </pre>

            Returns all records

            <pre class="brush:php">
                                    @method static function count();
                                </pre>

            Returns the number of records

            <pre class="brush:php">
                                    @method static function create(array $data, string $table = '');
                                </pre>

            create a new record

            <pre class="brush:php">
                                    @method function save();
                                </pre>

            Saves the created object from the model instance
            <br>
            <b>
                $todo = new Todo();<br>
                $todo->task = 'Code'; $todo->completed = 1;...<br>
                $todo->save();
            </b>

            <pre class="brush:php">
                                    @method static function update($id, array $data);
                                </pre>

            Modify a record

            <pre class="brush:php">
                                    @method function modify(array $data = []);
                                </pre>

            Modifies a record from the object
            <br>
            <b>
                $todo = Todo::find(1);<br>
                $todo->task = 'Coder_Modified'; $todo->completed = 0;...<br>
                $todo->modify();
            </b>

            <pre class="brush:php">
                                    @method static function delete($id);
                                </pre>

            Delete a record

            <pre class="brush:php">
                                    @method function destroy();
                                </pre>

            Deletes the record from its instance
            <br>
            <b>
                $todo = Todo:find(1); // $todo = instance of Todo<br>
                $todo->destroy()<br>
                Todo::find(1) => null
            </b>

            <pre class="brush:php">
                                    @method static function shuffleId();
                                </pre>

            Randomly returns a primary key value from the table

            <pre class="brush: php">
                                    protected function hasMany(string $model, string $foreignKey = '');
                                </pre>

            Returns all records of the table in relation OneToMany
            <br>
            To be used in the class of the current model:
            <br>
            <b>@method function todos(){ return $this->hasMany(Todo::class, $fk); } => $user->todos</b><br>
            if foreign key == table name (singular English) suffixed by '_id' then $fk is optional

            <pre class="brush:php">
                                    protected function belongsTo(string $model, string $foreignKey = '');
                                </pre>

            Returns table record by primary key
            <br>
            To be used in the class of the current model: <br>
            <b>@method function user(){ return $this->belongsTo(User::class, $fk); } => $todo->user</b><br>
            if foreign key == table name (singular English) suffixed by '_id' then $fk is optional

            <pre class="brush: php">
                                    protected function belongsToMany(string $model, string $pivot = '', string $primaryKeyOne = '', string $primaryKeyTwo = '');
                                </pre>

            Returns all records in table by primary key in relationship ManyToMany
            <br>
            To be used in the class of the current model:<br>
            <b>@method function categories(){ return $this->belongsToMany(Category::class, $pivot, $pk1, $pk2); } =>
                $todo->categories</b>
            <br>
            if the association table == todo_category or category_todo the argument $pivot is optional<br>
            if primary key 1 == (current class name suffixed by _id), example :todo_id then $pk1 is optional<br>
            if primary key 2 == (class name of 1st argument suffixed by _id), example :category_id then $pk2 is
            optional

            <pre class="brush:php">
                                    protected function hasOne(string $model, string $foreignKey = '');
                                </pre>

            Returns table record by primary key relationship OneToOne <br>
            To be used in the class of the current model, example :<br>
            <b>@method function user(){ return $this->hasOne(User::class, $fk); } => $todo->user</b>
            <br> if foreign key == table name (singular) suffixed by '_id' then $fk is optional

            <pre class="brush:php">
                                    @method function with(string $relation, array $properties = []);
                                </pre>

            <p>Returns related table records and selected fields</p>

            <pre class="brush: php">
                                    @method function modifyManyRelation(string $relation, string $id, array $data);
                                </pre>

            <p>Modify all table records in OneToMany relationship</p>

            <pre class="brush:php">
                                    @method function attach($table, array $data);
                                </pre>

            <p>Create new record in the relation table</p>

            <h4 id="line5_1_2">QueryBuilder</h4>
            <pre class="brush:php">
                                    @method static \Core\QueryBuilderMysql where($args)
                                </pre>
            if 3 arguments are setted, <b>Todo::where('task', '!=', 'Coder') => WHERE task != 'Coder'</b><br>
            if 2 arguments are setted, <b>Todo::where('task', 'Coder') => WHERE task = 'Coder'</b>

            <pre class="brush:php">
                                    @method static \Core\QueryBuilderMysql select($args)
                                </pre>
            <b>Todo::select('id', 'task')</b> => SELECT id, task...

            <pre class="brush:php">
                                    @method static \Core\QueryBuilderMysql from(string $table, $alias = null)
                                </pre>
            <b>Todo::from('todolist', 'tdl')</b> => FROM todolist (if $alias not null: AS tdl), useful if the
            desired table is different from the current model table, otherwise do not use from() because it is
            implied
            <pre class="brush: php">
                                    @method static \Core\QueryBuilderMysql join(string $join_table, string $on, string $operation, string $to, string $alias = '')
                                </pre>
            <b>Todo::join('users', 'user_id', '=', 'id', 'usr')</b> => JOIN users (if $alias not null: AS usr) ON
            todo.user_id = users.id ( or with alias usr.id)

            <pre class="brush:php">
                                    @static method \Core\QueryBuilderMysql first()
                                </pre>
            <b>Todo::first()</b> => ORDER BY id ASC LIMIT 1, get the first record from the model table

            <pre class="brush:php">
                                    @method static query \Core\QueryBuilderMysql (string $instruction)
                                </pre>
            <b>Todo::query('SELECT ....')</b> => execute a query

            <pre class="brush:php">
                                    @method static \Core\QueryBuilderMysql prepare(string $statement, array $attribute)
                                </pre>
            <b>Todo::prepare('INSERT INTO ....', [...])</b> => executes a prepared statement with the parameter

            <pre class="brush: php">
                                    @method static \Core\QueryBuilderMysql orderBy($args)
                                </pre>
            <b>Todo::orderBy('id')</b> => ORDER BY id, if orderBy('id', 'DESC') => ORDER BY id DESC

            <pre class="brush:php">
                                    @method static \Core\QueryBuilderMysql limit($args)
                                </pre>
            <b>Todo::limit(1)</b> => LIMIT 1 or <b>Todo::limit(1,2)</b> => LIMIT 1 OFFSET 2

            <pre class="brush:php">
                                    @method static \Core\QueryBuilderMysql groupBy($args)
                                </pre>
            <b>Todo::groupBy('completed')</b> => GROUP BY completed

            <pre class="brush:php">
                                    @method static array map(string $key, $value = null)
                                </pre>
            <b>Todo::map('task', $value)</b> => reorganizes all the records in an array with the value $key ('task')
            as key<br>
            if $value == null then $value = all fields in the record<br>
            if $value == type string, example : 'user_id' then the array will be like <b>'task' => user_id ('Coder'
            => 'USR001')</b><br>
            if $value == type array, example : [user_id, completed] then <b>'Coder' => ['USR001', true]</b>

            <pre class="brush: php">
                                    @method static array get()
                                </pre>
            retrieves the records following the query passed, by default <b>Todo::get() => SELECT * FROM
            todolist</b> possible to chain the methods to finish with get(), example :<br>
            <b>Todo::select('task', 'username')->join('users', 'user_id', 'id')->where('completed', true)->get()</b>

            <pre class="brush:php">
                                    @method static array toArray()
                                </pre>
            Transform the instance into an associative array

            <pre class="brush:php">
                                    @method static \Core\Model|bool last()
                                </pre>
            <b>Todo::last()</b> => Get the last record from the current table

            <pre class="brush:php">
                                @method static string stringify()
                                </pre>
            <b>Todo::select('task', 'created_todo_at')->where('completed', true)->stringify()</b><br>
            returns the query in string 'SELECT task, created_todo_at FROM todolist WHERE completed = 1'
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="orm_relationship">Relationship</h3>

        <div class="col-md-12">
            <p>Relationship class allow you to link two entities with a One-to-One, One-to-Many or
                Many-to-Many relation</p>
            <pre class="brush: php">
                /**
                 * @Manager('App\Managers\UserManager')
                 */
                class User extends Entity
                {
                    //

                    public function cars(): HasMany
                    {
                        return $this->hasMany(\App\Entities\Car::class);
                    }

                    public function address(): HasOne
                    {
                        return $this->hasOne(\App\Entities\Address::class);
                    }

                    public function jobs(): ManyToMany
                    {
                        return $this->manyToMany(\App\Entities\Job::class);
                    }
                }
            </pre>
            <p>In this example, the user has many cars, one address and many jobs linked to the pivot table "user_job"
                whose has a float column "salary".</p>
            <p>In each relationship mode, methods are available to handle them:</p>
            <h5>HasMany</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>clear: <span class="return">Entity[]</span></td>
                        <td></td>
                        <td>Delete the linked rows in the database table and return deleted entities</td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity[]|false</span></td>
                        <td>data: <span class="type">array</span></td>
                        <td>Update all linked rows in the database table and return updated rows</td>
                    </tr>
                    <tr>
                        <td>get: <span class="return">Entity[]|false</span></td>
                        <td></td>
                        <td>Get the manager instance link to this entity</td>
                    </tr>
                    <tr>
                        <td>delete: <span class="return">Entity|false|null</span></td>
                        <td>id: <span class="type">int|string</span></td>
                        <td>Delete the linked entity from primary key</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5>HasOne</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>attach: <span class="return">Entity</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Create a new row in relation table and set primary key to the current table foreign key,
                            return the new foreign entity
                        </td>
                    </tr>
                    <tr>
                        <td>delete: <span class="return">Entity</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Delete the entity row in the database table and return the deleted entity</td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity|false</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Update the linked row in the database table and return the updated entity</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5>ManyToMany</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>delete: <span class="return">Entity</span></td>
                        <td>id: <span class="type">string|int</span></td>
                        <td>Delete a pivot row in the database table and return the entity linked with all infos from
                            deleted row
                        </td>
                    </tr>
                    <tr>
                        <td>deleteFromEntity: <span class="return">Entity</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Delete all pivot rows in the database table linked, delete related entity and return the
                            deleted entity
                        </td>
                    </tr>
                    <tr>
                        <td>clear: <span class="return">Entity</span></td>
                        <td></td>
                        <td>Delete all pivot rows in the database table linked and all related entities, return deleted
                            entities
                        </td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity|false</span></td>
                        <td>id: <span class="type">string|int</span>, data: <span class="type">array</span></td>
                        <td>Update a row in the pivot table</td>
                    </tr>
                    <tr>
                        <td>add: <span class="return">Entity|false</span></td>
                        <td>entity: <span class="type">Entity</span>, options: <span class="type">array</span>
                            = []
                        </td>
                        <td>Add a new row in the pivot table with options data and return the linked entity with pivot row infos</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>