<section id="line5" class="section">

    <div class="row">
        <div class="col-md-12 left-align">
            <h2 class="dark-text">ORM
                <hr>
            </h2>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="orm_manager">Manager</h3>

        <div class="col-md-12">
            <p>The Manager class is the heart of this ORM system, it interacts with the database to fetch, create,
                update or delete a row to the database table</p>
            <p>To create a new manager with command-line: <span class="code">php mky create:manager &lt;name&gt;</span>
            </p>
            <pre class="brush: php">
                /**
                 * @Table('users')
                 * @Entity('App\Entities\User')
                 */
                class UserManager extends Manager
                {

                }
            </pre>
            <p>the name of database table must be set in the class annotation, the name of entity whose works this
                manager must be set in the class annotation, but if the entity class name is the prefix of manager
                class name and the entity is in the same module so this entity name declaration is optional because
                this manager will automatically retrieve.</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Method</th>
                    <th>Params</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>getPrimaryKey: <span class="return">string</span></td>
                    <td></td>
                    <td>Get the database's table primary key</td>
                </tr>
                <tr>
                    <td>getTable: <span class="return">string</span></td>
                    <td></td>
                    <td>Get the database's table name</td>
                </tr>
                <tr>
                    <td>getEntity: <span class="return">string|Entity|null</span></td>
                    <td>data: <span class="type">array</span> = []</td>
                    <td>Get the entity name link to this manager, if data is set this method will return an instance
                        of this entity.
                    </td>
                </tr>
                <tr>
                    <td>count: <span class="return">int</span></td>
                    <td></td>
                    <td>Get the number of rows in the database table</td>
                </tr>
                <tr>
                    <td>create: <span class="return">Entity|false</span></td>
                    <td>data: <span class="type">array</span></td>
                    <td>Add a new row to database table from array data</td>
                </tr>
                <tr>
                    <td>save: <span class="return">Entity|false</span></td>
                    <td>entity: <span class="type">Entity</span></td>
                    <td>Add or update a row (if primary key has value so is an updating) in the database table</td>
                </tr>
                <tr>
                    <td>find: <span class="return">Entity</span></td>
                    <td>id: <span class="type">string|int</span></td>
                    <td>Get a record from primary key value</td>
                </tr>
                <tr>
                    <td>delete: <span class="return">Entity|null</span></td>
                    <td>entity: <span class="type">Entity</span></td>
                    <td>Delete a row in the database table, return the deleted entity</td>
                </tr>
                <tr>
                    <td>all: <span class="return">array</span></td>
                    <td></td>
                    <td>Get all database table rows</td>
                </tr>
                <tr>
                    <td>shuffleId: <span class="return">string|int</span></td>
                    <td></td>
                    <td>Get a random primary key value</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="orm_query_builder">QueryBuilder</h3>

        <div class="col-md-12">
            <p>Manager classes use the PDO class to perform queries in the MYSQL database, it also uses a QueryMysql
                trait which serves as a Query Builder to simplify the writing of SQL queries.</p>
            <p>Example :</p>
            <pre class="brush: php">
                // SELECT name FROM users WHERE email LIKE "%@gmail.com" LIMIT 2

                $userManager->select('name')->where('email', 'LIKE', '%@gmail.com')->limit(2)->get();
            </pre>
            <h4 id="methods">List of methods</h4>

            <pre class="brush:php">
                @method static \Core\QueryBuilderMysql where($args)
            </pre>
            if 3 arguments are defined, <span class="code">$userManager->where('task', '!=', 'Coder') // WHERE task != 'Coder'</span><br>
            if 2 arguments are defined, <span
                class="code">$userManager->where('task', 'Coder') // WHERE task = 'Coder'</span>

            <pre class="brush:php">
                @method static \Core\QueryBuilderMysql select($args)
            </pre>
            <span class="code">$userManager->select('id', 'task') // SELECT id, task...</span>

            <pre class="brush:php">
                @method static \Core\QueryBuilderMysql from(string $table, $alias = null)
            </pre>
            <span class="code">$userManager->from('todolist', 'tdl') // FROM todolist (if $alias not null: AS tdl)</span>
            <p>useful if the desired table is different from the current model table, otherwise do not use from()
                because it is implied</p>
            <pre class="brush: php">
                @method static \Core\QueryBuilderMysql join(string $join_table, string $on, string $operation, string $to, string $alias = '')
            </pre>
            <span>$userManager->join('users', 'user_id', '=', 'id', 'usr') // JOIN users (if $alias not null: AS usr)
            ON
            todo.user_id = users.id ( or with alias usr.id)</span>

            <pre class="brush:php">
                @static method \Core\QueryBuilderMysql first()
            </pre>
            <b>$userManager->first()</b> => ORDER BY id ASC LIMIT 1, get the first record from the model table

            <pre class="brush:php">
                @method static query \Core\QueryBuilderMysql (string $instruction)
            </pre>
            <b>$userManager->query('SELECT ....')</b> => execute a query

            <pre class="brush:php">
                @method static \Core\QueryBuilderMysql prepare(string $statement, array $attribute)
            </pre>
            <b>$userManager->prepare('INSERT INTO ....', [...])</b> => executes a prepared statement with the parameter

            <pre class="brush: php">
                @method static \Core\QueryBuilderMysql orderBy($args)
            </pre>
            <b>$userManager->orderBy('id')</b> => ORDER BY id, if orderBy('id', 'DESC') => ORDER BY id DESC

            <pre class="brush:php">
                @method static \Core\QueryBuilderMysql limit($args)
            </pre>
            <b>$userManager->limit(1)</b> => LIMIT 1 or <b>$userManager->limit(1,2)</b> => LIMIT 1 OFFSET 2

            <pre class="brush:php">
                @method static \Core\QueryBuilderMysql groupBy($args)
            </pre>
            <b>$userManager->groupBy('completed')</b> => GROUP BY completed

            <pre class="brush:php">
                @method static array map(string $key, $value = null)
            </pre>
            <b>$userManager->map('task', $value)</b> => reorganizes all the records in an array with the value $key
            ('task')
            as key<br>
            if $value == null then $value = all fields in the record<br>
            if $value == type string, example : 'user_id' then the array will be like <b>'task' => user_id ('Coder'
            => 'USR001')</b><br>
            if $value == type array, example : [user_id, completed] then <b>'Coder' => ['USR001', true]</b>

            <pre class="brush: php">
                @method static array get()
            </pre>
            retrieves the records following the query passed, by default <b>$userManager->get() => SELECT * FROM
            todolist</b> possible to chain the methods to finish with get(), example :<br>
            <b>$userManager->select('task', 'username')->join('users', 'user_id', 'id')->where('completed',
                true)->get()</b>

            <pre class="brush:php">
                @method static array toArray()
            </pre>
            Transform the instance into an associative array

            <pre class="brush:php">
                @method static \Core\Model|bool last()
            </pre>
            <b>$userManager->last()</b> => Get the last record from the current table

            <pre class="brush:php">
                @method static string stringify()
            </pre>
            <b>$userManager->select('task', 'created_todo_at')->where('completed', true)->stringify()</b><br>
            returns the query in string 'SELECT task, created_todo_at FROM todolist WHERE completed = 1'
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="orm_entity">Entity</h3>

        <div class="col-md-12">
            <p>The Entity class is a class whose will be a representation of a row in database.</p>
            <p>To create a new entity with command-line: <span class="code">php mky create:entity &lt;name&gt;</span>
            </p>
            <p>First of all, you have to implement all table columns as private properties (whose property name must be
                in camelCase if in database is a snake_case), getters (whose getter name is the property name in
                camelCase) and setters (whose setter name is "set"+ property name is PascalCase). All columns whose can
                be automatically set like created_at or primary key auto increment must be a null property by
                default.</p>
            <pre class="brush: php">
                /**
                 * @Manager('App\Managers\UserManager')
                 */
                class User extends Entity
                {
                    private ?int $id = null;
                    private string $email;
                    private ?string $createdAt = null;
                    private bool isAdmin = false;

                    public function id(): ?int
                    {
                        return $this->id;
                    }

                    public function setId(int $id): void
                    {
                        $this->id = $id;
                    }

                    public function email(): string
                    {
                        return $this->email;
                    }

                    public function setEmail(string $email): void
                    {
                        $this->email = $email;
                    }

                    public function createdAt(): ?string
                    {
                        return $this->email;
                    }

                    public function setCreatedAt(string $created_at): void
                    {
                        $this->createdAt = $created_at;
                    }

                    public function isAdmin(): bool
                    {
                        return $this->isAdmin;
                    }

                    public function setIsAdmin(bool $isAdmin): void
                    {
                        $this->isAdmin = $isAdmin;
                    }
                }
            </pre>
            <p>If the entity manager class name is the entity class name + "Manager" and it's in the same
                module with manager class so Manager annotation is optional</p>
            <h5>Instantiation</h5>
            <div class="col-md-12">
                <p>To instantiate entity there are 2 ways:</p>
                <pre class="brush:php">
                    $user = new User(['email' => 'example@gmail.com']);

                    // OR
                    $user = new User();
                    $user->hydrate(['email' => 'example@gmail.com']);
                </pre>
            </div>
            <h5>Cast</h5>
            <div class="col-md-12">
                <p>Maybe you want to cast column to an object or other type, for that, use <span class="code">/** @Cast(type) */</span>
                </p>
                <pre class="brush:php">
                    class User extends Entity
                    {
                        //

                        /** @Cast('boolean') */
                        private bool isAdmin = false;

                        //
                    }
                </pre>
                <p>Without this the property will return a tinyInt 0 or 1, thanks to casting it will return true for 1
                    or false for 0.</p>
                <p>Built-in types you can use are: 'string', 'int', 'integer', 'float', 'boolean', 'bool'. If column
                    value is json you can use @Cast('array') to turn it to associative array or @Cast('object') stdClass
                    instance and if value is serialized use @Cast('serialize') to unserialize value</p>
                <p>You can implement your own cast method by set @Cast('toDateTime')</p>
                <pre class="brush:php">
                    class User extends Entity
                    {
                        //
                        /** @Cast('toDateTime') */
                        private ?string $createdAt = null;

                        public function toDateTime(string $value): DateTime
                        {
                            // $value format is Y-m-d H:i:s in my example
                            return new DateTime($value); 
                        }

                        //
                    }
                </pre>
            </div>
            <h5>Hidden properties</h5>
            <div class="col-md-12">
                <p>Used for api and sending entity object to the client side for js script for example, you may want to
                    hide some sensible properties like password, to do that you can set <span
                            class="code">@Hidden()</span> in the annotation of property</p>
            </div>
            <h5>Other Methods</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>delete: <span class="return">Entity</span></td>
                        <td></td>
                        <td>Delete the entity row in the database table, return the deleted entity</td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity|false</span></td>
                        <td></td>
                        <td>Update a row in the database table</td>
                    </tr>
                    <tr>
                        <td>getManager: <span class="return">Manager|null</span></td>
                        <td></td>
                        <td>Get the manager instance link to this entity</td>
                    </tr>
                    <tr>
                        <td>getPrimaryKey: <span class="return">string|null</span></td>
                        <td></td>
                        <td>Get the entity primary key</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="orm_relationship">Relationship</h3>

        <div class="col-md-12">
            <p>Relationship class allow you to link two entities with a One-to-One, One-to-Many or
                Many-to-Many relation</p>
            <pre class="brush: php">
                /**
                 * @Manager('App\Managers\UserManager')
                 */
                class User extends Entity
                {
                    //

                    public function cars(): HasMany
                    {
                        return $this->hasMany(\App\Entities\Car::class);
                    }

                    public function address(): HasOne
                    {
                        return $this->hasOne(\App\Entities\Address::class);
                    }

                    public function jobs(): ManyToMany
                    {
                        return $this->manyToMany(\App\Entities\Job::class);
                    }
                }
            </pre>
            <p>In this example, the user has many cars, one address and many jobs linked to the pivot table "user_job"
                whose has a float column "salary".</p>
            <p>In each relationship mode, methods are available to handle them:</p>
            <h5>HasMany</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>clear: <span class="return">Entity[]</span></td>
                        <td></td>
                        <td>Delete the linked rows in the database table and return deleted entities</td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity[]|false</span></td>
                        <td>data: <span class="type">array</span></td>
                        <td>Update all linked rows in the database table and return updated rows</td>
                    </tr>
                    <tr>
                        <td>get: <span class="return">Entity[]|false</span></td>
                        <td></td>
                        <td>Get the manager instance link to this entity</td>
                    </tr>
                    <tr>
                        <td>delete: <span class="return">Entity|false|null</span></td>
                        <td>id: <span class="type">int|string</span></td>
                        <td>Delete the linked entity from primary key</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5>HasOne</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>attach: <span class="return">Entity</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Create a new row in relation table and set primary key to the current table foreign key,
                            return the new foreign entity
                        </td>
                    </tr>
                    <tr>
                        <td>delete: <span class="return">Entity</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Delete the entity row in the database table and return the deleted entity</td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity|false</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Update the linked row in the database table and return the updated entity</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5>ManyToMany</h5>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Params</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>delete: <span class="return">Entity</span></td>
                        <td>id: <span class="type">string|int</span></td>
                        <td>Delete a pivot row in the database table and return the entity linked with all infos from
                            deleted row
                        </td>
                    </tr>
                    <tr>
                        <td>deleteFromEntity: <span class="return">Entity</span></td>
                        <td>entity: <span class="type">Entity</span></td>
                        <td>Delete all pivot rows in the database table linked, delete related entity and return the
                            deleted entity
                        </td>
                    </tr>
                    <tr>
                        <td>clear: <span class="return">Entity</span></td>
                        <td></td>
                        <td>Delete all pivot rows in the database table linked and all related entities, return deleted
                            entities
                        </td>
                    </tr>
                    <tr>
                        <td>update: <span class="return">Entity|false</span></td>
                        <td>id: <span class="type">string|int</span>, data: <span class="type">array</span></td>
                        <td>Update a row in the pivot table</td>
                    </tr>
                    <tr>
                        <td>add: <span class="return">Entity|false</span></td>
                        <td>entity: <span class="type">Entity</span>, options: <span class="type">array</span>
                            = []
                        </td>
                        <td>Add a new row in the pivot table with options data and return the linked entity with pivot
                            row infos
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>