<section id="line4" class="section">

    <div class="row">
        <div class="col-md-12 left-align">
            <h2 class="dark-text">Providers
                <hr>
            </h2>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">

        <div class="col-md-12">
            <p>Provider is a class use to make something at the beginning of the flux process, There are 3 main providers in app provider folder:
            </p>
            <div class="requirements">
                <ol>
                    <li><b>AppServiceProvider</b></li>
                    <li><b>AuthServiceProvider</b></li>
                    <li><b>EventServiceProvider</b></li>
                </ol>
            </div>
            <h4>AppServiceProvider</h4>
            <p>This provider is used to save classes in the dependency injection container with an alias :</p>
            <pre class="brush: php">
                // app/Providers/Provider.php
                public function register()
                {
                    $this->app->bind(TodoServiceInterface::class, TodoService::class);
                    $this->app->singleton(TodoMailer, function(Container $container){
                });
                    $this->app->forceSingleton(Request::class, fn() => Request::fromGlobals());
                }
            </pre>
            <h4>AuthServiceProvider</h4>
            <p>This provider is used to store route middlewares with aliases, and voters :</p>
            <pre class="brush:php">
                // app/Providers/MiddlewareServiceProvider.php
                [
                    'routeMiddlewares' => [
                        'todo' => \App\Http\Middlewares\TodoMiddleware::class
                    ],

                    'vote' => [
                        \App\Voters\TodoVoter::class,
                    ],
                ];
            </pre>
            <h4>EventServiceProvider</h4>
            <p>This provider is used to store events and their listeners according to their actions as alias :</p>
            <pre class="brush: php">
                // app/Providers/EventServiceProvider.php
                [
                    \App\Events\TodoEvent::class => [
                        'update' => \App\Listeners\UpdateTodoListener::class,
                        'otherAction' => \App\Listeners\OtherListener::class,
                    ]
                ];
            </pre>
        </div>

    </div>
    <!-- end row -->

</section>