<section id="line3" class="section">

    <div class="col-md-12 left-align">
        <h2 class="dark-text">Routing
            <hr>
        </h2>
    </div>

    <div class="col-md-12">
        <p>Routes can be saved in two ways: in controller by annotations or in start/routes.php file</p>

        <h3 id="routing_controller">Controller</h3>
        <pre class="brush: php">
                /**
                 * @Router('/todos', as: 'todos.index', middlewares: ['@:auth'], allows: ['view-todos'])
                 */
                public function index()
                {
                    return view('@/index.twig');
                }
            </pre>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th colspan="2">Required</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Url</td>
                <td>/todos</td>
                <td colspan="2" style="text-align: right">true</td>
            </tr>
            <tr>
                <td>Name (as)</td>
                <td>todos.index</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            <tr>
                <td>Middlewares</td>
                <td>@:auth</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            <tr>
                <td>Permissions (allows)</td>
                <td>view-todos</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            <tr>
                <td>HTTP request method</td>
                <td>GET</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            </tbody>
        </table>
        <p>All routes use the default GET request method, controller's routes can be predefined by defining a route
            annotation in the class name definition, example:</p>

        <pre class="brush: php">
                /**
                 * @Router('/todos', as: 'todos', middlewares: ['@:auth'], allows: ['view-todos'])
                 */
                class TodoController
                {
                    //
                }
            </pre>
        <p>All route urls will be prefixed by '/todos' same as route names, middlewares and permissions.</p>
    </div>

    <div class="col-md-12">
        <h3 id="routing_file">File</h3>
        <pre class="brush: php">
            Router::get('/todos', ['TodoController', 'index'], 'todo_module');
        </pre>
        <p>The third parameter is the module's alias. Router::get method defines a GET HTTP request method route, all
            requests (get, post, put, delete, patch, options) can be set in same way.</p>
        <p><b>Router::method</b> allows to put several request methods by entering the methods in an array on the second
            parameter</p>
        <p><b>Router::all</b> allow to send all request methods to one end point.</p>
        <p>Route action can be a callable, array or string. For array action, the first index must be the controller
            name, and the second must be the method name, for string action, the value must be the controller name and
            the controller must implement the "__invoke" method.</p>
        <h4>Route Crud</h4>
        <pre class="brush: php">
            Router::crud('todos', 'TodoController', 'todos');
        </pre>
        <p>Parameters: namespace (used for url and route name), controller and module alias</p>

        <table class="table">
            <thead>
            <tr>
                <th>HTTP request method</th>
                <th>Url path</th>
                <th>Controller</th>
                <th>Method</th>
                <th>Route name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>GET</td>
                <td>/todos</td>
                <td>TodoController</td>
                <td>index</td>
                <td>todos.index</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/todos/{todo}</td>
                <td>TodoController</td>
                <td>show</td>
                <td>todos.show</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/todos/create</td>
                <td>TodoController</td>
                <td>create</td>
                <td>todos.create</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/todos</td>
                <td>TodoController</td>
                <td>store</td>
                <td>todos.store</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/todos/{todo}/edit</td>
                <td>TodoController</td>
                <td>edit</td>
                <td>todos.edit</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/todos/{todo}/update</td>
                <td>TodoController</td>
                <td>update</td>
                <td>todos.update</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>/todos/{todo}/destroy</td>
                <td>TodoController</td>
                <td>destroy</td>
                <td>todos.destroy</td>
            </tr>
            </tbody>
        </table>
        <p>The crud method returns a \Router\RouteCrud instance, so crud routes can be modified:</p>
        <p>Routes in crud can be predefined with a middleware: </p>
        <pre class="brush: php">
            Router::crud('todos', 'TodoController', 'todos')->middlewares([
                '*' => ['@:auth'],
                'store' => ['@:admin']
            ]);
        </pre>
        <p>Middlewares method has one association array parameter which key is the crud method and value is
            another array of middlewares, the <b>'*'</b> means all crud methods, so every crud method route will
        call the auth middleware and store method will call in a second times the admin middleware.</p>
        <p>Routes in crud can be predefined with a name: </p>
        <pre class="brush: php">
            Router::crud('todos', 'TodoController', 'todos')->middlewares([
                '*' => ['@:auth'],
                'store' => ['@:admin']
            ]);
        </pre>
        <p>Middlewares method has one association array parameter which key is the crud method and value is
            another array of middlewares, the <b>'*'</b> means all crud methods, so every crud method route will
        call the auth middleware and store method will call in a second times the admin middleware.</p>
    </div>

</section>