<section id="line3" class="section">

    <div class="col-md-12 left-align">
        <h2 class="dark-text">Routing
            <hr>
        </h2>
    </div>

    <div class="col-md-12">
        <p>Routes can be saved in two ways: in controller by annotations or in start/routes.php file</p>

        <h3 id="routing_controller">Controller</h3>
        <pre class="brush: php">
                /**
                 * @Router('/todos', as: 'todos.index', middlewares: ['@:auth'], allows: ['view-todos'])
                 */
                public function index()
                {
                    return view('@/index.twig');
                }
            </pre>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th colspan="2">Required</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Url</td>
                <td>/todos</td>
                <td colspan="2" style="text-align: right">true</td>
            </tr>
            <tr>
                <td>Name (as)</td>
                <td>todos.index</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            <tr>
                <td>Middlewares</td>
                <td>@:auth</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            <tr>
                <td>Permissions (allows)</td>
                <td>view-todos</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            <tr>
                <td>HTTP request method</td>
                <td>GET</td>
                <td colspan="2" style="text-align: right">false</td>
            </tr>
            </tbody>
        </table>
        <p>All routes use the default GET request method, controller's routes can be predefined by defining a route
            annotation in the class name definition, example:</p>

        <pre class="brush: php">
                /**
                 * @Router('/todos', as: 'todos', middlewares: ['@:auth'], allows: ['view-todos'])
                 */
                class TodoController
                {
                    //
                }
            </pre>
        <p>All route urls will be prefixed by '/todos' same as route names, middlewares and permissions.</p>
    </div>

    <div class="col-md-12">
        <h3 id="routing_file">File</h3>
        <pre class="brush: php">
            // start/routes.php
            Router::get('/todos', [TodoController::class, 'index'], 'todo_module');
        </pre>
        <p>The third parameter is the module's alias. Router::get method defines a GET HTTP request method route, all
            requests (get, post, put, delete, patch, options) can be set in same way.</p>
        <p><b>Router::method</b> allows to put several request methods by entering the methods in an array on the second
            parameter</p>
        <p><b>Router::all</b> allow to send all request methods to one end point.</p>
        <p>Route action can be a callable, array or string. For array action, the first index must be the controller
            name, and the second must be the method name, for string action, the value must be the controller name and
            the controller must implement the "__invoke" method.</p>
        <h4>Route Crud</h4>
        <p>...</p>
        <h4>Route Methods</h4>
        <p>To use the route functions in the functions.php file, the route action must be written like <b>func::function_name</b>
            example: <b>func::getUser</b></p>

        <pre class="brush: php">
                // routes/functions.php
                // path: test/Micky, action: func::getUser
                [
                    'getUser' => function ($username) {
                        echo("user ".$username); // user Micky
                    },
                    'otherFunction' => function () {
                        echo("otherFunctionReturn");
                    },
                ];
            </pre>

        <b>To implement 7 CRUD methods</b>
        <pre class="brush: php">
                users:
                    path: crud
                    controller: App\Http\Controllers\UserController
                    middleware: auth
                    only: [index, create] // Optional, to implement index() and create() methods only
            </pre>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>HTTP request method</th>
                <th>Url path</th>
                <th>Controller</th>
                <th>Method</th>
                <th>Route name</th>
                <th>Middleware</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>GET</td>
                <td>/users</td>
                <td>App\Http\Controllers\UserController</td>
                <td>index</td>
                <td>users.index</td>
                <td>auth</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/users/:user</td>
                <td>App\Http\Controllers\UserController</td>
                <td>show</td>
                <td>users.show</td>
                <td>auth</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/users/new</td>
                <td>App\Http\Controllers\UserController</td>
                <td>new</td>
                <td>users.new</td>
                <td>auth</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/users/edit/:user</td>
                <td>App\Http\Controllers\UserController</td>
                <td>edit</td>
                <td>users.edit</td>
                <td>auth</td>
            </tr>
            <tr>
                <td>DELETE</td>
                <td>/users/delete/:user</td>
                <td>App\Http\Controllers\UserController</td>
                <td>delete</td>
                <td>users.delete</td>
                <td>auth</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/users</td>
                <td>App\Http\Controllers\UserController</td>
                <td>create</td>
                <td>users.create</td>
                <td>auth</td>
            </tr>
            <tr>
                <td>PUT</td>
                <td>/users/update/:user</td>
                <td>App\Http\Controllers\UserController</td>
                <td>update</td>
                <td>users.update</td>
                <td>auth</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>